.portrait {
	/* portrait orientation changes go here! */
	max-width:768px;
}
.landscape {
	/* landscape orientation changes go here! */
	max-width:1024px;
}

.ui-title{
margin:15px !important;	
/*	height:40px;*/
	text-align:left !important;
	white-space:normal !important;
	overflow:auto !important;
}
.ui-title img{
	width:200px; 
	vertical-align:middle;
	/*padding: 0px 10px 10px 0px;*/
	padding-right:10px;
	margin-bottom:5px;
	float:left;
	/*
	float:left; 
	
	left: 20px; 
	position: absolute; 
	top: 15px;*/
}

.ui-content{
	padding:0px;
}
.ui-content .ui-listview{
	margin:0px;
}
#miniajc{
	min-height:10px;
	font-weight:normal;
	padding-left:38px;
}
#miniajc img{
	height:28px;
	float:left;
	padding:6px 2px 2px 2px;
}
.ajclogo{
	padding:5px 0px 5px 25px;
}