.portrait {
	/* portrait orientation changes go here! */
	max-width: 768px;
}
.landscape {
	/* landscape orientation changes go here! */
	max-width: 1024px;
}
.ui-title {
	margin: 15px !important;
	text-align: left !important;
	white-space: normal !important;
	overflow: auto !important;
}
.ui-title img {
	width: 200px;
	vertical-align: middle;
	padding-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.ui-content {
	padding: 0;
}
.ui-content .ui-listview {
	margin: 0;
}
#miniajc {
	min-height: 10px;
	font-weight: normal;
	padding-left: 38px;
}
#miniajc img {
	height: 28px;
	float: left;
	padding: 6px 2px 2px 2px;
}
.ajclogo {
	padding: 5px 0px 5px 25px;
}
@media only screen and (max-width: 610px) {
	body {
		font-size: .8em;
	}
	h1 {
		font-size: .9em !important;
		text-shadow: none;
		font-weight: normal;
	}
}