body {
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
	font-size: 12px;
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
}
.subnav {
	margin: 0 !important;
}
.subnav li {
	margin: 0 !important;
}
#container {
	background-image: url(../img/background.jpg);
	background-color: #2327BF;
}
#max {
	max-width: 725px;
	margin: auto;
}
#logo {
	padding: 10px 0px;
}
#text p {
	color: white;
	text-shadow: #2E2E2E 0.1em 0.1em 0.2em;
	font-family: Arial,sans-serif;
	font-size: 12px;
}
#timer {
	color: white;
	font-weight: bold;
	font-size: 38px;
	padding: 10px 5px;
	height: 46px;
	width: 68px;
	background-color: #2E2E2E;
	border: 1px solid #2E2E2E;
	border-radius: 10px 10px 10px 10px;
}
.imgCon {
	border: white solid 2px;
}
#orgImg {
	float: left;
	margin: 0 14px 5px 14px;
}
@media only screen and (max-width: 720px) {
	#orgImg, #altImg { max-width: 280px; }
}
@media only screen and (max-width: 609px) {
	#orgImg, #altImg { max-width: 46%; margin: 0 6px; }
	#startBtn, #playAgain{ float: right; }
	.lotto{ float: left; }
}

#difficulty {
	color: #FFCC00;
	font-size: 14px;
}
#difficulty strong {
	font-size: 14px;
}
.pcredit {
	font-size: 11px;
	padding-top: 10px;
	color: white;
}

.arrow {
	float: left;
}
.arrowLabel {
	font-size: 10px;
	color: white;
	margin-left: 15px;
	text-align: left;
}

#btn {
	height: 46px;
	margin: 0 20px 0 0;
}
#answersBtn {
	height: 22px;
	width: 100px;
}
#startBtn, #playAgain {
	cursor: pointer;
}

#canvas {
	position: absolute;
	display: block;
	cursor: pointer;
}

#misses {
	width: 75px;
}
.missed, .unmissed {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.unmissed {
	background-color: black;
	float: right;
}
.missed {
	background-image: url(../img/miss.png);
	float: left;
}
#missTxt {
	font-size: 9px;
	color: black;
}
.socialbtns {
	height: 65px;
	font-size: 12px;
}